a {
    text-decoration: none;
}

.button-container {
    display: inline-flex;
    align-items: center;
    gap: 1em;
    background-color: rgb(196, 101, 101);
    border-radius: 20px;
    cursor: pointer;
}

.button-small {
    width: 1em;
    height: 1em;
}

.button-medium {
    width: 2em;
    height: 2em;
}