.input-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

label {
    font-size: 1.25rem;
    font-family: var(--ff-primary);
}

input {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
}

input::placeholder {
    font-size: 1rem;
    font-family: var(--ff-secondary);
}
