.team-card{
    width: 15em;
    min-height: 12.5em;
    border: 2px solid;
    overflow: hidden;
    border-radius: 1em;
}

.team-card-img{
    width: 50px;
    border-radius: 50%;
}

.team-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.team-card-header{
    /* margin-top: 10px; */
    min-height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.team-card-logo{
    margin-left: 20px;
}

.team-card-name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-card-name h2 {
    margin: 0;
}

.team-list{
    /* margin-top: 1em; */
    min-height: 65%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team-list ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

.team-leader > li{
    font-weight: bold;
    font-size: 1.25em;
}

.team-leader, .team-member{
    margin: 0px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.team-leader{
    display: flex;
    justify-content: center;
}

.team-member{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.team-member > li {
    font-size: 1.15em;
}