@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&family=Work+Sans:wght@400;500;600&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Design system variables */
:root {
  --ff-primary: 'Work Sans', sans-serif;
  --ff-secondary: 'Nunito Sans', sans-serif;

  --fw-reg: 400;
  --fw-bold: 600;

  --clr-primary: #3849aa;
  --clr-primary-light: #6e74dc;
  --clr-primary-dark: #00227a;

  --clr-secondary: #ffca28;
  --clr-secondary-light: #fffd61;
  --clr-secondary-dark: #c79a00;

  --clr-white: #ffffff;
  --clr-black: #000000;

}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
